@use '../styles/_variables.scss' as vars;
@use '../styles/_mixins.scss' as mixs;

.home {
  width: 50%;
  margin: 50px auto;
  list-style: none;
  @include mixs.tablet {
    width: 90%;
  }
}

.error-msg {
  color: vars.$red-strong;
}

.summary-list__table-body {
  text-align: left;
}
