@use '../styles/_variables.scss' as vars;
@use '../styles/_mixins.scss' as mixs;

.newSummary {
  width: 50%;
  margin: auto;
  @include mixs.tablet {
    width: 90%;
  }
}
.error-msg {
  color: vars.$red-strong;
}
#title {
  width: 80%;
}
#markdown {
  width: 100%;
  height: 500px;
}
